.ipynb_checkpoints
.idea
__pycahce__
data/mnist
*.pth
*.png
variable_length_captcha_recognize/new_images
transformers_learning/ernie-1.0/pytorch_model.bin
transformers_learning/bert-base-chinese/pytorch_model.bin