<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片浏览</title>
</head>
<body>

    <div align="center">
        <br><br>
    <img src="{{static_url('images/%s' % img_src)}}" style="width:400;height:80"/>
        <form action='/index' method='post'>
            value: <input type="text" name="rename" /><br>
            imgName: <input type="text" name="imgname" value="{{imgname}}"/><br>
            <button type="submit">提交</button>
        </form>
    </div>

</body>
</html>